<header class="home-page-header sticky-top">
  <div class="header-top-content">
    <%= link_to root_path, class:"header-title text-white" do %>
      <div translate="no">Find Out Game</div>
    <% end %>

    <div class="nav" translate="no">
      <ul class="lists-right">
        <% if user_signed_in? %>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle text-white " href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              ゲーム検索
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><%= link_to "PSゲーム検索", search_games_path, class: "dropdown-item" %></li>
              <li><%= link_to "Switchゲーム検索", switch_path, class: "dropdown-item" %></li>
              <li><%= link_to "Steamゲーム検索", pcgames_path, class: "dropdown-item" %></li>
            </ul>
          </div>

          <div class="dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              ゲーム共有リスト
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><%= link_to "共有リスト一覧", gamelists_path, class: "dropdown-item" %></li>
              <li><%= link_to "共有リスト作成", new_gamelist_path, class: "dropdown-item" %></li>
            </ul>
          </div>

          <li class="nav-item">
            <%= link_to "マイページ", profile_path, class: "nav-link text-white" %>
          </li>

          <li class="nac-item ">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-white" %>
          </li>
        <% else %>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              ゲーム検索
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><%= link_to "PSゲーム検索", search_games_path, class: "dropdown-item" %></li>
              <li><%= link_to "Switchゲーム検索", switch_path, class: "dropdown-item" %></li>
              <li><%= link_to "Steamゲーム検索", pcgames_path, class: "dropdown-item" %></li>
            </ul>
          </div>

          <div class="dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              ゲーム共有リスト
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><%= link_to "共有リスト一覧", gamelists_path, class: "dropdown-item" %></li>
            </ul>
          </div>

          <li class="nav-item">
            <%= link_to "ログイン", user_twitter_omniauth_authorize_path, method: :post, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
