<header>
  <nav>
      <strong><%= link_to 'Find Out Game', root_path %></strong>
      <% if user_signed_in? %>
        <%= link_to 'ゲーム共有リスト', gamelists_path %>
        <%= link_to 'マイページ', profile_path %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'ゲーム共有リスト', gamelists_path %>
        <%= link_to "ログイン", user_twitter_omniauth_authorize_path, method: :post %>
      <% end %>
  </nav>
</header>
