
<img src="<%= @header %>" width="500">
<br>
<td><a translate="no" href="https://store.steampowered.com/app/<%= @appid %>" target="_blank"><%= @name %></a></td><br>
<td><%= @detail %></td>
<td><%= @price %></td><br>
